.local_musi-dashboard .card-deck .card {
    max-width: 15rem;
}

#page-local-musi-dashboard .modal-body {
    overflow-y: visible;
}

#page-local-musi-dashboard .modal-content {
    overflow: visible;
}

.page-allteachers-card {
    width: 23.5rem;
}

.page-allteachers-orderletter {
    width: 1.5rem;
    height: 1.5rem;
}

.card-img-teacher {
    width: 300px;
}

.shortcodes_option_info_invisible {
    display: inline-block;
    background-color: #fff;
    color: #999;
    border: dashed 2px #999;
    border-radius: 5px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
}

.musi-list-container.wunderbyte_table_filter_on .wunderbyte_table_container {
    grid-template-columns: 1fr 3fr;
}

.musi-list-container .wunderbyteTableFilter .form-group{
    border: none;
    background-color: #ffffff !important;
    padding: 0;
    margin: 0 !important;
}

.musi-list-container .wunderbyteTableFilter .collapse.show{
    margin-top: 0!important;
}

.musi-list-container .wunderbyteTableFilter ul.wunderbyterFilterList{
    padding-top: 0!important;
}

.musi-list-container .wunderbyteTableFilter ul.wunderbyterFilterList li{
   min-height: 2rem;
}

.list-img{
    top: 50%;
    left: 50%;
    position: relative;
    transform: translate(-50%, -50%);
    height: 100%;
    width: auto;
}


@media screen and (max-width: 768px) {
    .shortcodes_responsive_table {
        border: 0;
    }

    .shortcodes_responsive_table caption {
        font-size: 1.3em;
    }

    .shortcodes_responsive_table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .shortcodes_responsive_table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    .shortcodes_responsive_table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    .shortcodes_responsive_table td::before {
        /*
        aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    .shortcodes_responsive_table td:last-child {
        border-bottom: 0;
    }

    .wunderbyte-table-list .rows-container .row{
        border: 1px solid #c3c3c3;
        border-radius: 5px;
        margin-bottom: 20px;
    }
}

.wunderbyte-table-list .rows-container .row{
    border-radius: 5px;
}
/* Tablegrid. */
.wunderbyte-table-grid .grid-entry {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid;
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
}

.inactivefilter .wunderbyte_table_container {
    grid-template-columns: 0fr 2fr;
    gap: 0;
}


.wunderbyte-table-grid .list-group-item+.list-group-item {
    border-top: 1px solid rgba(0,0,0,.125);
    border-top-width: 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.text-gray {
    color: #77838f;
}

.font-size-sm {
    font-size: 0.8rem;
}
.wunderbyte-table-list .action {
    position: absolute;
    top: 0;
    right: 0;
}
