{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_musi/dashboard

    Classes required for JS:
    * none

    Data attributes required for JS:
    * data-region

    Example context (json):
    {
        "cards": [
            {
            "headerbgcolor": "bg-warning",
            "title": "Course Notification",
            "content": "<p>Your assignment submission has been successfully received and is awaiting grading.</p>",
            "footer": "Submitted on: 31 May 2025, 14:35"
            },
            {
            "headerbgcolor": "bg-success",
            "title": "Enrollment Confirmed",
            "content": "<p>You have been successfully enrolled in the course <strong>Advanced Moodle Development</strong>.</p>",
            "footer": "Enrollment date: 01 June 2025, 09:00"
            }
        ]
    }
}}

<div class="card-group">
    {{#cards}}
        {{> local_musi/dashboard_card }}
    {{/cards}}
</div>